/* html, body, .container {
    margin:0;
} */
body {
    margin-top: 10px;
    text-align: center;
} 
img {
    height:148px;
    width:148px;
}
.waiting{
    height:242px;
}
#Defender {
    height:255px;
}
#characters {
    text-align:right;
}
.card-body {
    padding:2px;
}
h5 {
    /* font-size: 2vw; */
    text-align:center;
}
.btn{
    display: none;
}

@media screen and (min-width: 992px) {
    .container {
        width:768px;
    }
}